.mat-card {
    border-radius: 30px;
    margin: 10px 10px;
    padding: 20px;
    border-color: brown;
}
.mr-auto{
    margin-right: 0!important;
    margin-left: auto!important;
}
.mat-card#first-card {
    padding: 0;
}
.profile-image {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}
div#profile-background img {
    width: 100%; 
    border-radius: 30px 30px 0 0;
}
.div#profile-background {
    display: flex;
    z-index: 1;
}
.btn-right {
    display: flex;
    align-self:flex-end;
    
}
.card-titles .btn-edit {
    flex: 1;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    text-align: end;
}
.fa-button,.fa {
    color: black;
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    background: white;
}
div#info-actions {
    display: flex;
}
div#info-data {
    display: flex;
    justify-content: space-between;
}
div#info-data h1 {
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break: break-word;
}
h6 {
    text-align:center ;    
}
p{
    margin-bottom: 110px;
  }